# {{ ansible_managed }}

authoritative;

option domain-name "{{ cts_role_razor.dhcp.domain_name }}";
option domain-name-servers {% for dns_nameserver in cts_role_razor.dhcp.domain_name_server %}{{dns_nameserver}} {% endfor %};

default-lease-time 600;
max-lease-time 1800;
ddns-update-style none;

subnet {{ cts_role_razor.dhcp.subnet }} netmask {{ cts_role_razor.dhcp.subnet_netmask }} {
    range {{ cts_role_razor.dhcp.range }};
    option routers {{ cts_role_razor.dhcp.router }};
    next-server {{ cts_role_razor.tftp.server }};
    if exists user-class and option user-class = "iPXE" {
        filename "bootstrap.ipxe";
    } else {
        filename "undionly.kpxe";
    }
}
