#!/bin/bash
# Kickstart for RHEL/CentOS 6
# see: http://docs.redhat.com/docs/en-US/Red_Hat_Enterprise_Linux/6/html/Installation_Guide/s1-kickstart2-options.html


install
url --url=<%= repo_url %>

cmdline
lang en_US.UTF-8
keyboard fr
rootpw <%= node.metadata['root_password'] || node.root_password %>

network  --onboot=on --activate
<% if node.metadata['ipaddress'] %>
network  --bootproto=static --ip=<%= node.metadata['ipaddress'] %> --netmask=<%= node.metadata['netmask'] %> --gateway=<%= node.metadata['gateway'] %> --nameserver=<%= node.metadata['nameservers'] %>
<% else %>
network  --bootproto=dhcp
<% end %>
network  --hostname=localhost.localdomain

firewall --disabled
selinux --disabled
firstboot --disable
authconfig --enableshadow --passalgo=sha512 --enablefingerprint
timezone --utc <%= node.metadata['timezone'] || 'Europe/Paris' %>
# This skips over the subscription for redhat.

# Avoid having 'rhgb quiet' on the boot line
bootloader --location=mbr --append="crashkernel=auto"
# The following is the partition information you requested
# Note that any partitions you deleted are not expressed
# here so unless you clear all partitions first, this is
# not guaranteed to work
zerombr

<% if node.facts["is_virtual"] %>
clearpart --all --drives=sda
ignoredisk --only-use=sda
<% else %>
clearpart --all --drives=sda,mpatha
ignoredisk --only-use=sda,mpatha
<% end %>

#autopart

part /boot --asprimary --fstype="ext2"       --size=500
part swap  --asprimary --fstype="swap"       --recommended
part /     --asprimary --fstype="xfs" --grow --size=1    --fsoptions="defaults,noatime"
part /home             --fstype="xfs"        --size=1024 --fsoptions="defaults,noatime"

# reboot automatically
reboot

# following is MINIMAL https://partner-bugzilla.redhat.com/show_bug.cgi?id=593309

<% if node.facts["is_virtual"] %>
%packages --nobase --ignoremissing --excludedocs
@core
-btrfs-progs
-iprutils
-kexec-tools
-plymouth
-*-firmware
-dracut-config-rescue
-kernel-tools
-libsysfs
-microcode_ctl
-NetworkManager*
-postfix
-rdma
-fprintd-pam
-intltool
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw*-firmware
-irqbalance
-ivtv-firmware
-iwl*-firmware
-libertas-usb8388-firmware
-ql*-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
which
bind-utils
curl
sudo
git-core
glibc.i686
libselinux-python
lsof
lvm2
python
redhat-lsb
rsync
screen
sysstat
tmux
tree
vim
xorg-x11-xauth
yum-utils
open-vm-tools
%end
<% else %>
%packages --nobase --ignoremissing --excludedocs
@core
-btrfs-progs
-iprutils
-kexec-tools
-plymouth
-*-firmware
-dracut-config-rescue
-kernel-tools
-libsysfs
-microcode_ctl
-NetworkManager*
-postfix
-rdma
-fprintd-pam
-intltool
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw*-firmware
-irqbalance
-ivtv-firmware
-iwl*-firmware
-libertas-usb8388-firmware
-ql*-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
which
bind-utils
curl
sudo
git-core
glibc.i686
libselinux-python
lsof
lvm2
python
redhat-lsb
rsync
screen
sysstat
tmux
tree
vim
xorg-x11-xauth
yum-utils
%end
<% end %>

%post --log=/var/log/razor.log
echo Kickstart post
curl -s -o /root/razor_postinstall.sh <%= file_url("post_install") %>

# Run razor_postinstall.sh on next boot via rc.local
if [ ! -f /etc/rc.d/rc.local ]; then
  # On systems using systemd /etc/rc.d/rc.local does not exist at all
  # though systemd is set up to run the file if it exists
  echo '#!/bin/bash' > /etc/rc.d/rc.local
fi
chmod a+x /etc/rc.d/rc.local
echo bash /root/razor_postinstall.sh >> /etc/rc.d/rc.local
chmod +x /root/razor_postinstall.sh

curl -s <%= stage_done_url("kickstart") %>
%end
############
