# Preseed for Debian
# see: https://www.debian.org/releases/stable/example-preseed.txt

#### Contents of the preconfiguration file
### Localization
d-i debian-installer/locale string en_US.UTF-8

# The values can also be preseeded individually for greater flexibility.
d-i debian-installer/language string en
d-i debian-installer/country string FR
d-i localechooser/supported-locales multiselect en_US.UTF-8, fr_FR.UTF-8

# Keyboard selection.
d-i console-keymaps-at/keymap select fr
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select fr
d-i keyboard-configuration/layoutcode string fr

# Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string <%= node.metadata['hostname'] || node.hostname %>
d-i netcfg/get_domain string <%= node.metadata['domainname'] || node.domainname %>

# static ip
<% if node.metadata['ipaddress'] %>
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/dhcp_failed note
d-i netcfg/dhcp_options select Configure network manually

d-i netcfg/get_ipaddress string <%= node.metadata['ipaddress'] %>
d-i netcfg/get_netmask string <%= node.metadata['netmask'] %>
d-i netcfg/get_gateway string <%= node.metadata['gateway'] %>
d-i netcfg/get_nameservers string <%= node.metadata['nameservers'] %>
d-i netcfg/confirm_static boolean true
<% else %>
d-i netcfg/no_default_route boolean true
<% end %>

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/countries string fr
d-i mirror/protocol string http
d-i mirror/http/hostname string httpredir.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i mirror/suite string stretch

### Clock and time zone setup
d-i time/zone string <%= node.metadata['timezone'] || 'Europe/Paris' %>
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean false

### Partitioning
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/expert_recipe string                         \
      boot-root ::                                            \
              150  50 300 ext2                                \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext2 }    \
                      options/noatime{ noatime }              \
                      mountpoint{ /boot }                     \
              .                                               \
              1024 100 1024 xfs                               \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      options/noatime{ noatime }              \
                      mountpoint{ /root }                     \
              .                                               \
              1024 100 1024 xfs                               \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      options/noatime{ noatime }              \
                      mountpoint{ /home }                     \
              .                                               \
              1024 100 4096 xfs                               \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      options/noatime{ noatime }              \
                      mountpoint{ /var/log }                  \
              .                                               \
              1536 10000 1000000000 xfs                       \
                      $primary{ }                             \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ xfs }     \
                      options/noatime{ noatime }              \
                      mountpoint{ / }                         \
              .                                               \
              512 512 100% linux-swap                         \
                      $primary{ }                             \
                      method{ swap } format{ }                \
              .

# This makes partman automatically partition without confirmation.
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

## Controlling how partitions are mounted
d-i partman/mount_style select uuid

### Account setup
d-i passwd/root-login boolean true
d-i passwd/make-user boolean false
d-i passwd/root-password password <%= node.metadata['root_password'] || node.root_password %>
d-i passwd/root-password-again password <%= node.metadata['root_password'] || node.root_password %>
d-i user-setup/allow-password-weak boolean true

# Package
tasksel tasksel/first multiselect standard
<% if node.facts["is_virtual"] %>
d-i pkgsel/include string open-vm-tools apt-transport-https aptitude curl dbus debian-keyring debian-ports-archive-keyring git-core htop locales lsb-release lsof ncdu net-tools openssh-server python python-simplejson rsync ruby screen sysstat tmux tree vim-tiny xauth
<% else %>
d-i pkgsel/include string apt-transport-https aptitude curl dbus debian-keyring debian-ports-archive-keyring git-core htop locales lsb-release lsof ncdu net-tools openssh-server python python-simplejson rsync ruby screen sysstat tmux tree vim-tiny xauth
<% end %>
d-i pkgsel/upgrade select full-upgrade


popularity-contest popularity-contest/participate boolean false

### Apt setup
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

#### Advanced options
### Running custom commands during the installation
#<% if node.metadata['ipaddress'] %>
d-i preseed/early_command string wget <%= log_url("preseed start") %>; \
    kill-all-dhcp; netcfg
<% else %>
d-i preseed/early_command string wget <%= log_url("preseed start") %>
<% end %>
d-i preseed/late_command string  wget <%= log_url("preseed end") %>; \
    wget <%= file_url("os_boot") %> -O /target/usr/local/bin/razor_postinstall.sh;  \
    in-target chmod +x /usr/local/bin/razor_postinstall.sh; \
    in-target /usr/local/bin/razor_postinstall.sh
